@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    /* ### Primary */

    --brightBlue: hsl(220, 98%, 61%);
    --checkBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    /* ### Neutral */

    /* ### Light Theme */

    --veryLightGray: hsl(0, 0%, 98%);
    --veryLightGrayishBlue: hsl(236, 33%, 92%);
    --lightGrayishBlue: hsl(233, 11%, 84%);
    --darkGrayishBlue: hsl(236, 9%, 61%);
    --veryDarkGrayishBlue: hsl(235, 19%, 35%);

    /* ### Dark Theme */

    --veryDarkBlue: hsl(235, 21%, 11%);
    --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --lightGrayishBlue1: hsl(234, 39%, 85%);
    --lightGrayishBlue2: hsl(236, 33%, 92%);
    /*hover*/
    --darkGrayishBlue: hsl(234, 11%, 52%);
    --veryDarkGrayishBlue1: hsl(233, 14%, 35%);
    --veryDarkGrayishBlue2: hsl(237, 14%, 26%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--veryDarkBlue);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: var(--veryLightGray);
}

#container {
    position: relative;
    height: 100vh;
}

#imgDiv {
    width: 100%;
    height: 36vh;
    min-height: 300px;
    background: url('./images/bg-desktop-dark.jpg') no-repeat center center/cover;
}

#subContainer {
    width: 43vw;
    min-width: 400px;
    min-height: 500px;
    margin: auto;
    position: absolute;
    top: 12vh;
    left: 50%;
    transform: translateX(-50%);
}

#notesHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#notesHeading {
    font-size: 50px;
    color: var(--veryLightGray);
    letter-spacing: 17px;
}

#darkBtn {
    display: none;
}

#inputDiv {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color: var(--veryDarkDesaturatedBlue);
    border-radius: 5px;
    margin-bottom: 27px;
}

.checkHolder {
    border: 1px solid var(--veryDarkGrayishBlue1);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    /* background-image: var(--checkBackground); */
    margin-right: 20px;

}

.checkIcon {
    padding: 5px;
    align-self: center;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    display: none;
}

#inputNote {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--veryLightGray);
    width: 100%;
    font-size: 18px;
    caret-color: var(--brightBlue);
}

#inputNote:active {
    border: none;
    outline: none;
}

#notesContainer {
    border-radius: 5px;
}

.noteContainer:first-child{
    border-radius: 5px 5px 0 0;
}

.noteContainer {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color: var(--veryDarkDesaturatedBlue);
}

hr{
    border: none;
    height: 1px;
    background-color: var(--veryDarkGrayishBlue1);
}